@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background:#1b3749;
    background-image:url('./src/BG.png');
    width:1920px;
    height:1080;
    margin: 0;
}
.container {
    position: absolute;
    right: 183px;
    bottom: 80px;
    display: grid;
    grid-template-columns: 202px 326px 364px 395px;
    grid-template-rows: 30px 141px 30px 141px 30px 141px 30px 141px 30px 141px ;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 30px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . .";

  }
.empty{
    opacity: 1;
    height: 30px;
    width: 100%;
}
.category,.slot_name{
    text-align: center;
    color:#F6F8D9;
    transform:translate(0,6px);
    font-size:15px;
    font-weight:bold;
    text-transform: uppercase;
}
.slot_name{
    transform:translate(0,0px);
    font-size:12px;
    font-weight:500;
    line-height: 18px;
}
.header{
    transform:translate(0,1px);
}
.slot_name{
    height:17px;
    background:#F6F8D940;
}
.slot_image{
    height:calc(141px - 17px);
    background:#F6F8D920;
}